In [1]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

pop_2009 = pd.read_csv("../00_source_data/co-est2009-alldata.csv", encoding="latin-1")
pop_2009 = pop_2009.iloc[:, [3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]
pop_2009.head(10)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009
0,1,0,Alabama,Alabama,4451849,4464034,4472420,4490591,4512190,4545049,4597688,4637904,4677464,4708708
1,1,1,Alabama,Autauga County,43872,44434,45157,45762,46933,47870,49105,49834,50354,50756
2,1,3,Alabama,Baldwin County,141358,144988,148141,151707,156573,162564,168516,172815,176212,179878
3,1,5,Alabama,Barbour County,29035,29223,29289,29480,29458,29452,29556,29736,29836,29737
4,1,7,Alabama,Bibb County,19936,20942,20983,21037,21208,21375,21285,21485,21589,21587
5,1,9,Alabama,Blount County,51181,51999,52775,53726,54469,55035,55978,56866,57794,58345
6,1,11,Alabama,Bullock County,11604,11381,11261,11305,11038,10975,10739,10966,10921,10985
7,1,13,Alabama,Butler County,21313,21036,20607,20536,20476,20338,20231,20243,20171,19964
8,1,15,Alabama,Calhoun County,111342,111019,110860,111378,111615,112081,112453,112808,113422,114081
9,1,17,Alabama,Chambers County,36593,36281,35952,35626,35387,35173,34822,34731,34473,34320

In [2]:
pop_2019 = pd.read_csv("../00_source_data/co-est2019-alldata.csv", encoding="latin-1")
pop_2019 = pop_2019.iloc[:, [3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]
pop_2019.head(10)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,1,0,Alabama,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,1,1,Alabama,Autauga County,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
2,1,3,Alabama,Baldwin County,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
3,1,5,Alabama,Barbour County,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
4,1,7,Alabama,Bibb County,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394
5,1,9,Alabama,Blount County,57376,57560,57580,57619,57526,57526,57494,57787,57771,57826
6,1,11,Alabama,Bullock County,10876,10675,10606,10549,10663,10400,10389,10176,10174,10101
7,1,13,Alabama,Butler County,20932,20866,20670,20356,20327,20162,20012,19888,19631,19448
8,1,15,Alabama,Calhoun County,118408,117744,117190,116471,115917,115469,114973,114710,114331,113605
9,1,17,Alabama,Chambers County,34122,34033,34104,34139,33977,33996,33745,33707,33600,33254

In [3]:
pop = pd.merge(
    pop_2009,
    pop_2019,
    on=["STATE", "COUNTY", "STNAME", "CTYNAME"],
    indicator=True,
    how="outer",
)
pop[pop["_merge"] != "both"].head(10)

,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,...,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,_merge
88,2,195,Alaska,Petersburg Census Area,4248.0,4198.0,4087.0,3995.0,4051.0,3956.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
94,2,270,Alaska,Wade Hampton Census Area,7042.0,7088.0,7162.0,7286.0,7446.0,7455.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1161,22,59,Louisiana,La Salle Parish,14264.0,14119.0,14187.0,14094.0,14023.0,13887.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2459,46,113,South Dakota,Shannon County,12556.0,12668.0,12982.0,13132.0,13157.0,13352.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2963,51,515,Virginia,Bedford city,6314.0,6333.0,6290.0,6246.0,6239.0,6254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3194,2,158,Alaska,Kusilvak Census Area,NaN,NaN,NaN,NaN,NaN,NaN,...,7651.0,7794.0,7974.0,8100.0,8194.0,8181.0,8236.0,8323.0,8314.0,right_only
3195,2,195,Alaska,Petersburg Borough,NaN,NaN,NaN,NaN,NaN,NaN,...,3255.0,3277.0,3291.0,3261.0,3253.0,3260.0,3264.0,3244.0,3266.0,right_only
3196,22,59,Louisiana,LaSalle Parish,NaN,NaN,NaN,NaN,NaN,NaN,...,14941.0,14862.0,14821.0,14875.0,14979.0,15022.0,14887.0,14901.0,14892.0,right_only
3197,46,102,South Dakota,Oglala Lakota County,NaN,NaN,NaN,NaN,NaN,NaN,...,13896.0,14037.0,14126.0,14213.0,14358.0,14425.0,14384.0,14331.0,14177.0,right_only

In [4]:
pop.shape

(3198, 25)

In [5]:
state = pd.read_csv("../00_source_data/state.txt", delimiter="|")
pop["STUSAB"] = pop["STATE"].map(state.set_index("STATE")["STUSAB"])
pop["STUSAB"].isna().sum()

0

In [6]:
pop["County Code"] = pop["STATE"].astype(str) + pop["COUNTY"].astype(str).str.zfill(3)
pop["BUYER_COUNTY"] = pop["CTYNAME"].replace(" County", "", regex=True).str.upper()
pop = pop.rename(
    columns={
        "POPESTIMATE2000": "2000",
        "POPESTIMATE2001": "2001",
        "POPESTIMATE2002": "2002",
        "POPESTIMATE2003": "2003",
        "POPESTIMATE2004": "2004",
        "POPESTIMATE2005": "2005",
        "POPESTIMATE2006": "2006",
        "POPESTIMATE2007": "2007",
        "POPESTIMATE2008": "2008",
        "POPESTIMATE2009": "2009",
        "POPESTIMATE2010": "2010",
        "POPESTIMATE2011": "2011",
        "POPESTIMATE2012": "2012",
        "POPESTIMATE2013": "2013",
        "POPESTIMATE2014": "2014",
        "POPESTIMATE2015": "2015",
        "POPESTIMATE2016": "2016",
        "POPESTIMATE2017": "2017",
        "POPESTIMATE2018": "2018",
        "POPESTIMATE2019": "2019",
    }
)
pop.sample(10)

,STATE,COUNTY,STNAME,CTYNAME,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,_merge,STUSAB,County Code,BUYER_COUNTY
1064,21,107,Kentucky,Hopkins County,46457.0,46076.0,46222.0,46402.0,46407.0,46190.0,...,46155.0,46055.0,45598.0,45293.0,45024.0,44686.0,both,KY,21107,HOPKINS
442,13,91,Georgia,Dodge County,19156.0,19296.0,19346.0,19517.0,19483.0,19506.0,...,21173.0,21142.0,20854.0,20749.0,20793.0,20605.0,both,GA,13091,DODGE
1897,36,73,New York,Orleans County,44147.0,43681.0,43399.0,43201.0,43119.0,42723.0,...,41861.0,41481.0,41247.0,40786.0,40655.0,40352.0,both,NY,36073,ORLEANS
2831,49,19,Utah,Grand County,8399.0,8515.0,8716.0,8793.0,8851.0,9066.0,...,9481.0,9551.0,9622.0,9589.0,9686.0,9754.0,both,UT,49019,GRAND
670,17,123,Illinois,Marshall County,13138.0,12920.0,12941.0,12905.0,12997.0,12934.0,...,11966.0,11925.0,11881.0,11668.0,11483.0,11438.0,both,IL,17123,MARSHALL
1316,26,125,Michigan,Oakland County,1196417.0,1201013.0,1199653.0,1201965.0,1204375.0,1203750.0,...,1242853.0,1244602.0,1251027.0,1256016.0,1256694.0,1257584.0,both,MI,26125,OAKLAND
2573,48,13,Texas,Atascosa County,38874.0,39874.0,40823.0,41306.0,42079.0,42458.0,...,47715.0,48363.0,48720.0,49083.0,50322.0,51153.0,both,TX,48013,ATASCOSA
509,13,227,Georgia,Pickens County,23359.0,24487.0,25575.0,26688.0,27481.0,28141.0,...,29807.0,30136.0,30652.0,31541.0,32014.0,32591.0,both,GA,13227,PICKENS
3073,54,63,West Virginia,Monroe County,13200.0,13283.0,13312.0,13417.0,13441.0,13467.0,...,13613.0,13573.0,13487.0,13382.0,13289.0,13275.0,both,WV,54063,MONROE
2422,46,39,South Dakota,Deuel County,4493.0,4459.0,4430.0,4337.0,4263.0,4282.0,...,4320.0,4323.0,4253.0,4311.0,4352.0,4351.0,both,SD,46039,DEUEL

In [7]:
pop.to_csv("../20_intermediate_files/population.csv", index=False)