In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

fl_data = pd.read_parquet("D:\MIDS\Practical Data Science\PDS_Data\wp_data_fl.parquet")
wa_data = pd.read_parquet("D:\MIDS\Practical Data Science\PDS_Data\wp_data_wa.parquet")
tx_data = pd.read_parquet("D:\MIDS\Practical Data Science\PDS_Data\wp_data_tx.parquet")

In [3]:
print(fl_data.shape)
fl_data.head()

(21359080, 33)

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,DRUG_NAME,Measure,MME_Conversion_Factor,Dosage_Strength,TRANSACTION_DATE,Combined_Labeler_Name,Reporter_family,CALC_BASE_WT_IN_GM,DOSAGE_UNIT,MME
33768886,RA0464406,DISTRIBUTOR,AMERISOURCEBERGEN DRUG CORPORATION,None,10910 LEE VISTA BOULEVARD SUITE 401,None,ORLANDO,FL,32829,ORANGE,...,OXYCODONE,TAB,1.5,10.0,2016-08-10,Purdue,AmerisourceBergen Drug,0.8965,100.0,1344.75
33768887,RA0464406,DISTRIBUTOR,AMERISOURCEBERGEN DRUG CORPORATION,None,10910 LEE VISTA BOULEVARD SUITE 401,None,ORLANDO,FL,32829,ORANGE,...,OXYCODONE,TAB,1.5,10.0,2016-08-10,Purdue,AmerisourceBergen Drug,0.8965,100.0,1344.75
33768888,RA0464406,DISTRIBUTOR,AMERISOURCEBERGEN DRUG CORPORATION,None,10910 LEE VISTA BOULEVARD SUITE 401,None,ORLANDO,FL,32829,ORANGE,...,OXYCODONE,TAB,1.5,10.0,2016-08-10,Purdue,AmerisourceBergen Drug,0.8965,100.0,1344.75
33768889,RA0464406,DISTRIBUTOR,AMERISOURCEBERGEN DRUG CORPORATION,None,10910 LEE VISTA BOULEVARD SUITE 401,None,ORLANDO,FL,32829,ORANGE,...,OXYCODONE,TAB,1.5,10.0,2016-08-10,Purdue,AmerisourceBergen Drug,0.8965,100.0,1344.75
33768890,RA0464406,DISTRIBUTOR,AMERISOURCEBERGEN DRUG CORPORATION,None,10910 LEE VISTA BOULEVARD SUITE 401,None,ORLANDO,FL,32829,ORANGE,...,OXYCODONE,TAB,1.5,40.0,2016-08-22,"Sun Pharmaceutical Industries, Inc.",AmerisourceBergen Drug,3.5860,100.0,5379.00

In [4]:
fl_data.columns

Index(['REPORTER_DEA_NO', 'REPORTER_BUS_ACT', 'REPORTER_NAME',
       'REPORTER_ADDL_CO_INFO', 'REPORTER_ADDRESS1', 'REPORTER_ADDRESS2',
       'REPORTER_CITY', 'REPORTER_STATE', 'REPORTER_ZIP', 'REPORTER_COUNTY',
       'BUYER_DEA_NO', 'BUYER_BUS_ACT', 'BUYER_NAME', 'BUYER_ADDL_CO_INFO',
       'BUYER_ADDRESS1', 'BUYER_ADDRESS2', 'BUYER_CITY', 'BUYER_STATE',
       'BUYER_ZIP', 'BUYER_COUNTY', 'TRANSACTION_CODE', 'DRUG_CODE', 'NDC_NO',
       'DRUG_NAME', 'Measure', 'MME_Conversion_Factor', 'Dosage_Strength',
       'TRANSACTION_DATE', 'Combined_Labeler_Name', 'Reporter_family',
       'CALC_BASE_WT_IN_GM', 'DOSAGE_UNIT', 'MME'],
      dtype='object')

```First we subset the data by only the columns of interest```

In [5]:
# subset the data to include BUYER_STATE, BUYER_COUNTY, TRANSACTION_DATE, CALC_BASE_WT_IN_GM
fl_data_sub = fl_data[
    ["BUYER_STATE", "BUYER_COUNTY", "TRANSACTION_DATE", "CALC_BASE_WT_IN_GM"]
]
wa_data_sub = wa_data[
    ["BUYER_STATE", "BUYER_COUNTY", "TRANSACTION_DATE", "CALC_BASE_WT_IN_GM"]
]
tx_data_sub = tx_data[
    ["BUYER_STATE", "BUYER_COUNTY", "TRANSACTION_DATE", "CALC_BASE_WT_IN_GM"]
]

```We then clean the date column so that it is only the year```

In [6]:
# extract year from TRANSACTION_DATE
fl_data_sub["TRANSACTION_YEAR"] = pd.to_datetime(
    fl_data_sub["TRANSACTION_DATE"]
).dt.year
wa_data_sub["TRANSACTION_YEAR"] = pd.to_datetime(
    wa_data_sub["TRANSACTION_DATE"]
).dt.year
tx_data_sub["TRANSACTION_YEAR"] = pd.to_datetime(
    tx_data_sub["TRANSACTION_DATE"]
).dt.year

C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\2960415195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl_data_sub['TRANSACTION_YEAR'] = pd.to_datetime(fl_data_sub['TRANSACTION_DATE']).dt.year
C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\2960415195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wa_data_sub['TRANSACTION_YEAR'] = pd.to_datetime(wa_data_sub['TRANSACTION_DATE']).dt.year
C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\2960415195.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_data_sub['TRANSACTION_YEAR'] = pd.to_datetime(tx_data_sub['TRANSACTION_DATE']).dt.year

In [7]:
fl_data_sub.reset_index(drop=True, inplace=True)
wa_data_sub.reset_index(drop=True, inplace=True)
tx_data_sub.reset_index(drop=True, inplace=True)

```we drop the date column and keep the year since our final observations should be county years```

In [8]:
# drop TRANSACTION_DATE
fl_data_sub.drop(columns=["TRANSACTION_DATE"], inplace=True)
wa_data_sub.drop(columns=["TRANSACTION_DATE"], inplace=True)
tx_data_sub.drop(columns=["TRANSACTION_DATE"], inplace=True)

C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\3948794949.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl_data_sub.drop(columns=['TRANSACTION_DATE'], inplace=True)
C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\3948794949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wa_data_sub.drop(columns=['TRANSACTION_DATE'], inplace=True)
C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\3948794949.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tx_data_sub.drop(columns=['TRANSACTION_DATE'], inplace=True)

```Next we will check that we have the appropriate year range for each state:```

In [9]:
# display a table of the transaction dates
fl_data_sub["TRANSACTION_YEAR"].value_counts().sort_index()

TRANSACTION_YEAR
2006    1549017
2007    1646513
2008    1695653
2009    1736990
2010    1809094
2011    1790556
2012    1700506
2013    1713397
2014    1433615
2015    1294035
2016    1329406
2017    1312272
2018    1197767
2019    1150259
Name: count, dtype: int64

In [10]:
wa_data_sub["TRANSACTION_YEAR"].value_counts().sort_index()

TRANSACTION_YEAR
2006    521956
2007    560389
2008    585093
2009    617158
2010    648701
2011    651447
2012    626903
2013    622053
2014    586690
2015    543572
2016    524260
2017    481544
2018    440643
2019    409343
Name: count, dtype: int64

In [11]:
tx_data_sub["TRANSACTION_YEAR"].value_counts().sort_index()

TRANSACTION_YEAR
2006    1402206
2007    1603018
2008    1694548
2009    1759476
2010    1857404
2011    1941545
2012    1847980
2013    1812361
2014    1349300
2015     933080
2016     937545
2017     906554
2018     853558
2019     803203
Name: count, dtype: int64

In [12]:
fl_data_sub.head()

  BUYER_STATE BUYER_COUNTY  CALC_BASE_WT_IN_GM  TRANSACTION_YEAR
0          FL  SAINT JOHNS              0.8965              2016
1          FL   PALM BEACH              0.8965              2016
2          FL        DUVAL              0.8965              2016
3          FL       MARION              0.8965              2016
4          FL          LEE              3.5860              2016

```Now we want to ensure we have no missing values```

In [13]:
# search for missing values
fl_data_sub.isnull().sum()

BUYER_STATE            0
BUYER_COUNTY          16
CALC_BASE_WT_IN_GM     0
TRANSACTION_YEAR       0
dtype: int64

```We can see that florida does have missing values for County Name```

In [14]:
tx_data_sub.isnull().sum()

BUYER_STATE           0
BUYER_COUNTY          0
CALC_BASE_WT_IN_GM    0
TRANSACTION_YEAR      0
dtype: int64

In [15]:
wa_data_sub.isnull().sum()

BUYER_STATE           0
BUYER_COUNTY          0
CALC_BASE_WT_IN_GM    0
TRANSACTION_YEAR      0
dtype: int64

```We will make a set for a year where there are no missing values to get a complete list of all counties```

In [16]:
# create a set of all the BUYER_COUNTY values for the year 2010
fl_counties = set(
    fl_data_sub[fl_data_sub["TRANSACTION_YEAR"] == 2010]["BUYER_COUNTY"].unique()
)
len(fl_counties)

67

```And its length matches what we expect for florida```

```Now we will look at which observations are missing. We can see that it is all observations for 2007 and 2006```

In [17]:
# display the rows with missing data in fl_data_sub
fl_data_sub[fl_data_sub["BUYER_COUNTY"].isnull()]

         BUYER_STATE BUYER_COUNTY  CALC_BASE_WT_IN_GM  TRANSACTION_YEAR
7133154           FL         None              0.3027              2007
8065324           FL         None              0.3027              2006
8601704           FL         None              0.3027              2006
8694239           FL         None              0.3027              2007
9164218           FL         None              0.3027              2007
9703003           FL         None              0.3027              2007
10504118          FL         None              0.3027              2007
10889862          FL         None              0.3027              2006
11774167          FL         None              0.3027              2006
12388768          FL         None              0.3027              2006
12772857          FL         None              0.3027              2006
12865169          FL         None              0.3027              2007
15065830          FL         None              0.3027              2006
15628882          FL         None              0.3027              2007
15849466          FL         None              0.3027              2006
19852890          FL         None              0.3027              2006

```Using the set we defined earlier we can see which Counties are actually missing```

In [18]:
# for the year 2007, which BUYER_COUNTY names are not in the set of fl_counties
fl_counties - set(
    fl_data_sub[fl_data_sub["TRANSACTION_YEAR"] == 2007]["BUYER_COUNTY"].unique()
)

{'GLADES'}

In [19]:
fl_counties - set(
    fl_data_sub[fl_data_sub["TRANSACTION_YEAR"] == 2006]["BUYER_COUNTY"].unique()
)

{'GLADES'}

```Because all the observations are for one county, we can simply update the dataframe for FL so that its missing values are from GLADES County```

In [20]:
# replace all the missing values in fl_data_sub for BUYER_COUNTY with 'GLADES'
fl_data_sub["BUYER_COUNTY"].fillna("GLADES", inplace=True)

C:\Users\johnh\AppData\Local\Temp\ipykernel_13316\792006058.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fl_data_sub['BUYER_COUNTY'].fillna('GLADES', inplace=True)

In [21]:
fl_data_sub.isnull().sum()

BUYER_STATE           0
BUYER_COUNTY          0
CALC_BASE_WT_IN_GM    0
TRANSACTION_YEAR      0
dtype: int64

```Now we will write these to parquet files for later use```

In [22]:
# write fl_data_sub, wa_data_sub, tx_data_sub to parquet files
fl_data_sub.to_parquet(
    "D:\MIDS\Practical Data Science\PDS_Data\wp_data_fl_clean.parquet"
)
wa_data_sub.to_parquet(
    "D:\MIDS\Practical Data Science\PDS_Data\wp_data_wa_clean.parquet"
)
tx_data_sub.to_parquet(
    "D:\MIDS\Practical Data Science\PDS_Data\wp_data_tx_clean.parquet"
)

```The largest of these files is actually 36mb so we will write them to the 20_intermediate_files folder too```

In [23]:
fl_data_sub.to_parquet("../20_intermediate_files/wp_data_fl_clean.parquet")
wa_data_sub.to_parquet("../20_intermediate_files/wp_data_wa_clean.parquet")
tx_data_sub.to_parquet("../20_intermediate_files/wp_data_tx_clean.parquet")